body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #2196F3;
}

p {
    line-height: 1.6;
}

ol {
    list-style-type: decimal;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', monospace;
    font-size: 1em;
}
.code-container {
    overflow-x: auto;
    white-space: pre-wrap;
}
table {
  width: 100%; /* Szerokość tabeli */
  margin: 20px auto; /* Marginesy wokół tabeli */
  border: 2px solid #000; /* Grubsza ramka wokół tabeli */
  border-collapse: collapse; /* Usunięcie domyślnych ramek między komórkami */
}

th, td {
  border: 1px dashed #666; /* Cienka, linia przerywana dla komórek */
  padding: 10px; /* Zwiększenie odstępu wewnątrz komórek */
  text-align: left; /* Wyrównanie tekstu do lewej */
}

th {
  background-color: #eee; /* Kolor tła nagłówków */
  font-weight: bold; /* Pogrubiony tekst w nagłówkach */
}
li {
    font-size: 90%; /* Zmniejszenie rozmiaru tekstu o 10% w stosunku do domyślnego */
  }
